<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warenkorb</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>Warenkorb</h1>
      <div class="cart-container">
        <div class="left-container"></div>
        <div class="right-container"></div>
      </div>
    </main>
    <%- include('footer') %>
    <script src="/scripts/cart.js"></script>
  </body>
</html>
