<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favoriten</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>Favoriten</h1>
    <div id="favoritesContainer"></div>
    <%- include('footer') %>
    <script src="/scripts/favorites.js"></script>
  </body>
</html>
